@import './variables.scss';
.carousel {
      width: 100%;
      height: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      position: relative;
}

.carousel img {
      width: 100%;
      height: 100%;
      transition: transform 0.8s ease;
      object-fit: cover;
      border-radius: 25px;
}

.carousel button {
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      height: 40px;
      width: 60px;
      border: none;
      background-color: transparent;
      cursor: pointer;
}

.btn-previous {
      left: 20px;
}

.btn-next {
      right: -9px;
}

.btn-next::before {
      content: '';
      position: absolute;
      width: $arrow-width;
      height: $arrow-height;
      top: $arrow-top-before;
      background: white;
      z-index: 1;
      transform: rotate(50deg);
      transition: 0.5s;
}
.btn-next::after {
      content: '';
      position: absolute;
      width: $arrow-width;
      height: $arrow-height;
      top: $arrow-top-after;
      background: white;
      z-index: 1;
      transform: rotate(130deg);
      transition: 0.5s;
}
.btn-previous::before {
      left: 10px;
      content: '';
      position: absolute;
      width: $arrow-width;
      height: $arrow-height;
      top: $arrow-top-before;
      background: white;
      z-index: 1;
      transform: rotate(-50deg);
      transition: 0.5s;
}
.btn-previous::after {
      left: 10px;
      content: '';
      position: absolute;
      width: $arrow-width;
      height: $arrow-height;
      top: $arrow-top-after;
      background: white;
      z-index: 1;
      transform: rotate(-130deg);
      transition: 0.5s;
}

@media (max-width: $breakpoint-tablet) {
      $arrow-width: 50px;
      $arrow-height: 8px;
      $arrow-top-before: 10%;
      $arrow-top-after: 10%;
      .carousel {
            width: 90%;
            height: 255px;
      }
}
