.carousel {
      width: 80%;
      height: 415px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
}

.carousel img {
      width: 100%;
      height: 100%;
      transition: transform 0.8s ease;
      object-fit: cover;
      border-radius: 25px;
}
