@import './variables';
.dropdown {
      position: relative;
      &::before {
            content: '';
            position: absolute;
            width: 14px;
            height: 2px;
            top: 26px;
            right: 30px;
            background: white;
            z-index: 1;
            transform: rotate(40deg);
            transition: 0.5s;
      }
      &::after {
            content: '';
            position: absolute;
            width: 14px;
            height: 2px;
            top: 26px;
            right: 40px;
            background: white;
            z-index: 1;
            transform: rotate(-40deg);
            transition: 0.4s;
      }
}

.dropdown.active::after {
      transform: rotate(40deg);
}

.dropdown.active::before {
      transform: rotate(-40deg);
}

.about-page-width {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 20px;
}

.apartement-details-page-width {
      width: 45%;
      margin-bottom: 10px;
      display: flex;
      flex-direction: column;
}
.apartement-details-page-width li {
      list-style: none;
}

.dropdown-btn {
      width: 100%;
      height: 52px;
      margin: 0 auto;
      display: block;
      background-color: $primary-color;
      border: none;
      border-radius: 5px;
      color: #fff;
      font-weight: 500;
      font-size: 24px;
      text-align: left;
      padding-left: 10px;
      cursor: pointer;
}

.dropdown-content {
      margin: 0 auto;
      width: 100%;
      background-color: $primary-background-color;
      color: $primary-color;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      padding: 15px;
}

@media (max-width: $breakpoint-tablet) {
      .apartement-details-page-width {
            width: 100%;
            margin-bottom: 30px;
      }
}
