@font-face {
      font-family: 'Montserrat';
      src: url('../assets/fonts/Montserrat-VariableFont_wght.ttf')
            format('truetype');
}

* {
      font-family: 'Montserrat';
      box-sizing: border-box;
}

body {
      max-width: 1440px;
      margin: 0 auto;
}

#root {
      display: flex;
      flex-direction: column;
      min-height: 100vh;
}
