@import './variables.scss';
.info-wrapper {
      margin: 0 auto;
      display: flex;
      width: 100%;
      justify-content: space-between;
      flex-direction: column;
      color: $primary-color;
      font-weight: 500;
}

.location-info {
      display: flex;
      width: 100%;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      margin-top: 15px;
}
.name-location {
      display: flex;
      flex-direction: column;
      width: 55%;
}
.name-location h2 {
      font-size: 36px;
      margin-bottom: 0;
      margin-top: 0;
      font-weight: 500;
}

.info-wrapper h3 {
      font-size: 18px;
      font-weight: 500;
}

.name-location h3 {
      margin-top: 5px;
}

.host-info {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.host-rating {
      display: flex;
      flex-direction: column;
      width: 20%;
      justify-content: space-around;
}

.host-pic img {
      border-radius: 50%;
      width: 64px;
      height: 64px;
}
.location-host {
      display: flex;
      flex-direction: row;
}

.tags-div {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      width: 50%;
      justify-content: flex-start;
      color: white;
}

.tag {
      border-radius: 10px;
      background-color: $primary-color;
      width: 30%;
      padding: 8px 10px;
      text-align: center;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 0;
      margin-right: 10px;
}

.equip-desc {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;
}

@media (max-width: $breakpoint-tablet) {
      .location-host {
            flex-direction: column;
            width: 90%;
            background-color: $secondary-background-color;
      }
      .name-location {
            width: 90%;
      }
      .tags-div {
            width: 90%;
            justify-content: flex-start;
      }
      .equip-desc {
            flex-direction: column;
            width: 90%;
      }
      .host-rating {
            flex-direction: row-reverse;
            width: 100%;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
      }
      .host-info {
            width: 35%;
            justify-content: flex-end;
      }
      .info-wrapper {
            align-items: center;
      }
      .tag {
            font-size: 10px;
      }
}
